{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
</head>
<body>
      {% include "header.html" %}
<section class="step2">
    <h1>SCOPE INDIA Locations & Contact Details</h1>
    </section>
    <section class="step3">
    <h3>Center for Software, Networking, & Cloud Education</h3>
    <p>One of India's best Training destinations for Software, Networking, DevOps and Cloud Computing courses with 18 years of Industrial experience. Over 1,000 students find their dream careers each year, and we have assisted more than 15,000 students so far.</p>
</section>
<section class="contact">
    <div class="contactparent">

        <!-- IMAGE -->
        <div class="contactimg">
            <div class="overlay">
                <h3 style="font-size: 30px;">SCOPE INDIA is open 365 days a year</h3>
                <p style="font-size: 20px;">Call us now if you are looking for an IT job or adding more skills to your career</p>
            </div>
        </div>

        <!-- TRIVANDRUM -->
        <div class="contact-box">
            <h3>SCOPE INDIA Trivandrum, Kerala</h3>
            <p>TC 25/1403/3, Athens Plaza, SS Kovil Road, Thampanoor, Trivandrum, Kerala 695001</p>

            <a href="tel:+919745936073" class="btn">9745936073</a>
            <a href="mailto:info@scopeindia.org" class="btn">info@scopeindia.org</a>
            <a href="https://g.page/r/CXbW6SZGeJPfEAE" target="_blank" class="btn">Location Route Map</a>
        </div>

        <!-- TECHNOPARK -->
        <div class="contact-box">
            <h3>SCOPE INDIA Technopark, Kerala</h3>
            <p>Phase 1, Main Gate, Diamond Arcade, Near Technopark, Trivandrum</p>

            <a href="tel:+919745936073" class="btn">9745936073</a>
            <a href="mailto:technopark@scopeindia.org" class="btn">technopark@scopeindia.org</a>
            <a href="https://maps.app.goo.gl/hbG8wSiDcW2w9kyH9" target="_blank" class="btn">Location Route Map</a>
        </div>

        <!-- KOCHI -->
        <div class="contact-box">
            <h3>SCOPE INDIA Kochi, Kerala</h3>
            <p>Vasanth Nagar Rd, near JLN Metro Station, Kaloor, Kochi, Kerala 682025</p>

            <a href="tel:+917592939481" class="btn">7592939481</a>
            <a href="mailto:kochi@scopeindia.org" class="btn">kochi@scopeindia.org</a>
            <a href="https://g.page/r/CWv07KhFfP7dEAE" target="_blank" class="btn">Location Route Map</a>
        </div>

        <!-- NAGERCOIL 1 -->
        <div class="contact-box">
            <h3>SCOPE INDIA Nagercoil 1, Tamil Nadu</h3>
            <p>Near WCC College, Palace Rd, Nagercoil, Tamil Nadu 629001</p>

            <a href="tel:+918075536185" class="btn">8075536185</a>
            <a href="mailto:ngl@scopeindia.org" class="btn">ngl@scopeindia.org</a>
            <a href="https://goo.gl/maps/fVjnoN7GzcU1zson7" target="_blank" class="btn">Location Route Map</a>
        </div>

        <!-- NAGERCOIL 2 -->
        <div class="contact-box span2">
            <h3>SCOPE INDIA Nagercoil 2, Tamil Nadu</h3>
            <p>Pharma Street, 5/2 Ward 28, Distillery Road, WCC Jn. Nagercoil</p>

            <a href="tel:+918075536185" class="btn">8075536185</a>
            <a href="mailto:ngl@scopeindia.org" class="btn">ngl@scopeindia.org</a>
            <a href="https://goo.gl/maps/fVjnoN7GzcU1zson7" target="_blank" class="btn">Location Route Map</a>
        </div>

    </div>
</section>
{% include "footer.html" %}
</body>
</html>