{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Info{% endblock title %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
<nav class="top-parent">
    <div>
        <img src="{% static 'Images/scopeindia-logo.webp' %}" alt="logo" id="logo">
    </div>

    <div class="sideparent">
        <img src="{% static 'Images/google-rating-scope-india.webp' %}" alt="rating" id="rate">

        <div class="group">
            {% if request.resolver_match.url_name == "home" %}
        <a href="{% url 'home' %}">HERO</a>
    {% else %}
        <a href="{% url 'home' %}">HOME</a>
    {% endif %}
            <a href="{% url "course" %}">COURSES</a>
            <a href="{% url "registration" %}" class="register">REGISTRATION</a>
            <a href="{% url "about" %}">ABOUT US</a>
            <a href="{% url "contact" %}">CONTACT US</a>
            <a href="{% url "login" %}">LOGIN</a>
        </div>
    </div>
</nav>