{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scope India</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
   {% include "header.html" %}
<section class="step2">
    <h1>Your Career Partner!</h1>
</section>
<section class="step3">
    <h3>Center for Software, Networking, & Cloud Education</h3>
    <p>One of India's best Training destinations for Software, Networking, DevOps and Cloud Computing courses with 18 years of Industrial experience. Over 1,000 students find their dream careers each year, and we have assisted more than 15,000 students so far.</p>
    <hr>
    <h3>Get Globally Certified from SCOPE INDIA</h3>
    <div class="logoparent">
        <img src={% static "Images/microsoft.png" %}  alt="">
        <img src={% static "Images/ibm.png" %} alt="">
        <img src={% static "Images/google.png" %} alt="">
        <img src={% static "Images/amazon.png" %} alt="">
        <img src={% static "Images/redhat.png" %} alt="">
        <img src={% static "Images/istqb.png" %} alt="">
        <img src={% static "Images/cisco.png" %} alt="">
        <img src={% static "Images/github.png" %} alt="">
    </div>
</section>
<section class="parentstudy">
    <div class="dream">
        <h3>Dreaming about a career in IT</h3>
        <p>Spearheaded by the working professionals of Suffix E Solutions in flexible learning mode, we provide quality training with 100% placement support.</p>
        <p>We provide comprehensive courses in:</p>
        <div class="courseparent">
            <div><i class="fa-solid fa-check" style="color: gold;"></i>Software Programming</div>
             <div><i class="fa-solid fa-check" style="color: gold;"></i>DevOps</div>
             <div><i class="fa-solid fa-check"style="color: gold;"></i>Data Science & AI</div>
              <div><i class="fa-solid fa-check" style="color: gold;"></i>Software Testing</div>
               <div><i class="fa-solid fa-check" style="color: gold;"></i>Data Analytics</div>
               <div><i class="fa-solid fa-check"style="color: gold;"></i>Server Administration</div>
               <div><i class="fa-solid fa-check" style="color: gold;"></i>Cloud Computing</div>
               <div><i class="fa-solid fa-check" style="color: gold;"></i>NetWorking</div>
               <div><i class="fa-solid fa-check" style="color: gold;"></i>Mobile App Development</div>
               <div><i class="fa-solid fa-check"style="color: gold;"></i>Digital Marketing</div>
        </div>
    </div>
    <div class="infoparent">
       <div class="box">
        <h4>Classes</h4>
        <p>Learn Anywhere, Anytime - Online & in-Person Classes Available!</p>
       </div>
       <div class="box">
        <h4>Placement</h4>
        <p>Guaranteed Success -100% Placement Support</p>
       </div>
       <div class="box">
        <h4>Training</h4>
        <p>Training by Working Professionals of Suffix E Solutions</p>
       </div>
       <div class="box">
        <h4>Internship</h4>
        <p>OJT (On the Job Training) under Suffix E Solutions after course completion with experience certificate</p>
       </div>
    </div>
</section>
<section class="placement">
    <h3 style="text-align: center; color: indigo; font-size: 35px; font-weight: 900;">Placement Highlights</h3>
    <div class="placementparent">
        <div class="placebox">
            <h2>100%</h2>
            <p>Placement Assistance</p>
        </div>
          <div class="placebox">
            <h2>1000+</h2>
            <p>Students are Getting Placed Every Year</p>
        </div>
          <div class="placebox">
            <h2>500+</h2>
            <p>Partner Companies</p>
        </div>
    </div>
</section>
<section class="ai">

<h2>Match the Pace of Artificial Intelligence</h2>

<div class="aigold">Study AI From SCOPE INDIA</div>

<div class="ai-parent">

    <!-- LEFT SIDE -->
    <div class="ai-left">
        <img class="robot" src={% static "Images/robo-scope-site.webp" %}>
        <img class="banner" src={% static "Images/data-science-ai-course-scopeindia.webp" %}>
    </div>
    <!-- RIGHT SIDE -->
    <div class="ai-course">
        <ul>
            <li><i class="fa-solid fa-check" style="color: gold;"></i>Python 3.12</li>
            <li><i class="fa-solid fa-check" style="color: gold;"></i>Pandas</li>
            <li><i class="fa-solid fa-check" style="color: gold;"></i>Matplotlib and Seaborn</li>
            <li><i class="fa-solid fa-check" style="color: gold;"></i>Excel & Power BI</li>
            <li><i class="fa-solid fa-check" style="color: gold;"></i>Machine Learning</li>
            <li><i class="fa-solid fa-check" style="color: gold;"></i>English Language Training</li>
        </ul>
        <ul>
            <li><i class="fa-solid fa-check" style="color: gold;"></i>SQL</li>
            <li><i class="fa-solid fa-check" style="color: gold;"></i>NumPy</li>
            <li><i class="fa-solid fa-check" style="color: gold;"></i>Tableau</li>
            <li><i class="fa-solid fa-check" style="color: gold;"></i>Django & REST Services</li>
            <li><i class="fa-solid fa-check" style="color: gold;"></i>Deep Learning & AI</li>
            <li><i class="fa-solid fa-check" style="color: gold;"></i>Live Projects</li>
        </ul>
    </div>
</div>
<p class="ai-text">
Harness the capabilities of machine learning, deep learning, natural language processing and uncover hidden patterns, optimize processes, and drive smarter decision-making.
</p>
</section>
<section class="fullstack">

<h3 style="font-weight: 900; font-size: 37px; color: darkblue;">Become a Full Stack Developer</h3>

<div class="fullstackparent">

    <div class="fullbox">
        <h4>Your pathway includes</h4>

        <div class="path">
            <div class="circle">1</div>
            <div>
                <h5>Foundation</h5>
                <p>Programming Fundamentals, SQL</p>
            </div>
        </div>

        <div class="path">
            <div class="circle">2</div>
            <div>
                <h5>Front End</h5>
                <p>HTML, CSS, JavaScript, jQuery, Bootstrap, React JS</p>
            </div>
        </div>

        <div class="path">
            <div class="circle">3</div>
            <div>
                <h5>Back End</h5>
                <p>Python / Java / ASP.NET / PHP / JavaScript</p>
            </div>
        </div>

    </div>

    <div class="fullad">
        <img src={% static "Images/full-stack-course-scopeindia.webp" %}>
    </div>

</div>

</section>
<section class="testing">
    <h2><span>No Coding</span>  Prowess? <span>Not a Problem</span></h2>
    <div class="testparent">
        <div class="testimg">
            <a href=""><img src={% static "Images/software-testing-course-scopeindia.webp" %} alt=""></a>
        </div>
    <div class="testcousre">
        <div class="testtag" style="font-size: 30px;">Software Testing is the Gateway to Your IT Career</div>
        <div class="testitem">
            <div><i class="fa-solid fa-check" style="color: gold;"></i> Manual Testing</div>
             <div><i class="fa-solid fa-check" style="color: gold;"></i>    Automation Testing</div>
             <div><i class="fa-solid fa-check"style="color: gold;"></i> Practical Sessions</div>
              <div><i class="fa-solid fa-check" style="color: gold;"></i>   Theoretical Sessions</div>
               <div><i class="fa-solid fa-check" style="color: gold;"></i>  Flexible Schedules</div>
               <div><i class="fa-solid fa-check" style="color: gold;"></i>  On Job Training</div>
        </div>
    </div>
    </div>
    <h2>Start your tech journey today with <span>SCOPE INDIA</span>  and make your mark in the IT industry!</h2>
</section>
<section class="devops">

<h2>Career with DevOps</h2>

<div class="devparent">

<div class="course">

<h3>Master DevOps From SCOPE INDIA</h3>

<div class="courselist">

<ul>
<li><i class="fa-solid fa-check" style="color: pink;"></i> Build Applications</li>
<li><i class="fa-solid fa-check" style="color: pink;"></i> Automate Workflows</li>
<li><i class="fa-solid fa-check" style="color: pink;"></i>    Popular Tools</li>
<li><i class="fa-solid fa-check" style="color:pink;"></i>Cloud Management</li>
</ul>

<ul>
<li><i class="fa-solid fa-check" style="color: pink;"></i>
    Deploy Applications</li>
<li><i class="fa-solid fa-check" style="color:pink;"></i>Hands-On Experience</li>
<li><i class="fa-solid fa-check" style="color:pink;"></i>Cloud Infrastructure</li>
<li><i class="fa-solid fa-check" style="color: pink;"></i>Deployment Strategies</li>
</ul>

</div>

</div>

<div class="dveimage">
<img src={% static "Images/devops-course-scope-india.webp" %} >
</div>

</div>
</section>
 <section class="powerbi">
    <h2>Match the Pace of Business Intelligence</h2>

    <div class="daparent">

        <div class="biimage">
            <img src={% static "Images/power-bi-course-scopeindia.webp" %} alt="">
        </div>

        <div class="coursebi">
            <div class="biband">Study Power BI From SCOPE INDIA</div>

            <ul>
                <li><i class="fa-solid fa-check" style="color: gold;"></i>Transform Raw Data</li>
                <li><i class="fa-solid fa-check" style="color: gold;"></i>Hands-on Training</li>
                <li><i class="fa-solid fa-check" style="color: gold;"></i>Flexible Schedules</li>
                <li><i class="fa-solid fa-check" style="color: gold;"></i>Interactive Dashboards</li>
                <li><i class="fa-solid fa-check" style="color: gold;"></i>Real-World Scenarios</li>
                <li><i class="fa-solid fa-check" style="color: gold;"></i>On Job Training</li>
            </ul>

        </div>

    </div>
</section>
<section id="section_mission_vision">
<div class="parent">
<h2>Our Mission & Vision</h2>
<div class="main_div">
<!-- LEFT BOX -->
<div class="left_content">
<div class="content">
<div class="svg_div" style="background-color:hsl(49, 100%, 50%)">
<svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
d="M13 10V3L4 14h7v7l9-11h-7z"/>
</svg>
</div>
<h4>Our Mission</h4>
<p>
<span>SCOPE INDIA</span>  seeks to close the knowledge gap between education and employment by offering interactive, industry-focused IT training led by proficient working professionals and aligned with the latest trends and technologies. Our objective is to provide people with the technical expertise and confidence they need to build fulfilling careers.
</p>
<ul>
<li><i class="fa-solid fa-check" style="color: gold;"></i>Industry-aligned curriculum</li>
<li><i class="fa-solid fa-check" style="color: gold;"></i>Practical skill development</li>
<li><i class="fa-solid fa-check" style="color: gold;"></i>Career-focused training</li>
</ul>
</div>
</div>
<!-- RIGHT BOX -->
<div class="right_content">
<div class="content">
<div class="svg_div" style="background-color:hsl(49, 100%, 50%)">
<svg fill="none" stroke="white" stroke-width="2" viewBox="0 0 24 24">
<path stroke-linecap="round" stroke-linejoin="round"
d="M17 20h5v-2a3 3 0 00-5.356-1.857
M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857
M7 20H2v-2a3 3 0 015.356-1.857
M7 20v-2c0-.656.126-1.283.356-1.857
m0 0a5.002 5.002 0 019.288 0
M15 7a3 3 0 11-6 0
3 3 0 016 0z"/>
</svg>
</div>
<h4>Our Vision</h4>
<p>
We aspire to become the most respected and forward-thinking training organization in India and beyond by shaping the future of IT education via innovation, integrity, and strong industry ties. We intend to expand globally.
</p>
<ul>
<li><i class="fa-solid fa-check" style="color: gold;"></i>Global recognition</li>
<li><i class="fa-solid fa-check" style="color: gold;"></i>Innovation leadership</li>
<li><i class="fa-solid fa-check" style="color: gold;"></i>Technology excellence</li>
</ul>
</div>
</div>
</div>
</div>
</section>
{% include "footer.html" %}
</body>
</html>